<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>刀塔传奇</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>	
		<link rel="stylesheet" type="text/css" href="Public/css/main.css" />
		<link rel="stylesheet" type="text/css" href="Public/css/setting.css" />
		<link rel="stylesheet" type="text/css" href="Public/css/query.css" />
	</head>
	<script src="Public/js/jquery2x.js"></script>
	<script src="Js/oop/dget.js"></script>
	<body>
		<div class="vir_body">
		<section class="main">
			<h2 class="_title main_title">主界面</h2>
			<hr />
			<div class="window_ops">
				<p class="ops_one ops_gold">金币</p>
				<p class="ops_one ops_equipment">进阶装备</p>
				<p class="ops_one ops_test">测试</p>
			</div>
			<p class="ops_one ops_setting">+</p>
		</section>
		<!--底部栏,点击后，从下侧边滑入-->
		<section class="setting">
			<h2 class="_title setting_title">设置界面</h2>
			<p class="set_one set_select">请选择英雄(多选)</p>
			<ul class="heroes"></ul>
			<p class="set_one set_upto"></p>
		</section>
		<!--侧边栏,点击后，从右侧边滑入-->
		<aside class="query">
			<h2 class="_title query_title">英雄进阶</h2>
			<div class="query_window">
				<!--
				<ul class="upgrade_levels">
					<li type="level">白</li>
					<li type="level">绿</li>
					<li class="selected" type="level">绿+1</li>
					<li type="level">蓝</li>
					<li type="level">蓝+1</li>
					<li type="level">蓝+2</li>
					<li type="level">紫</li>
					<li type="level">紫+1</li>
					<li type="level">紫+2</li>
					<li type="level">紫+3</li>
					<li type="level">紫+4</li>
					<li type="level">橙</li>
				</ul>
				<div class="heroes_list">
					<div class="hero_one">
						<h4>
							<div class="hero_avatar">
								<img src="Public/image/SF.png" width="100%"/>
							</div>
							<span class="hero_name">Name</span>
						</h4>
						<ul class="upgrade_level_one">
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
				</div>
				-->
			</div>
			<p class="query_one leftto">←</p>
		</aside>
		</div>
		<script id="all_levels" type="text/template">
			<ul class="upgrade_levels">
				<li class="selected" type="level">白</li>
				<li type="level">绿</li>
				<li type="level">绿+1</li>
				<li type="level">蓝</li>
				<li type="level">蓝+1</li>
				<li type="level">蓝+2</li>
				<li type="level">紫</li>
				<li type="level">紫+1</li>
				<li type="level">紫+2</li>
				<li type="level">紫+3</li>
				<li type="level">紫+4</li>
				<li type="level">橙</li>
			</ul>
		</script>	
		<script id="hero_one_items" type="text/template">	
			<div id="<%= hero_ident %>" class="heroes_list">
				<h4>
					<div class="hero_avatar">
						<img src="<%= hero_avatar %>" width="100%"/>
					</div>
					<span class="hero_name"><%= hero_name %></span>
				</h4>
				<ul id="items" class="upgrade_level_one" >
					<li><img src="<%= item0 %>" width="100%"></li>
					<li><img src="<%= item1 %>" width="100%"></li>
					<li><img src="<%= item2 %>" width="100%"></li>
					<li><img src="<%= item3 %>" width="100%"></li>
					<li><img src="<%= item4 %>" width="100%"></li>
					<li><img src="<%= item5 %>" width="100%"></li>
				</ul>
			</div>
		</script>
	</body>
	<script>
	var allWidth;
	var allHeight;
	var heroSelectedArr;

	$(function(){
		
		allWidth = $(window).width();
		allHeight = $(window).height();

		heroSelectedArr = [];

		$('.vir_body').height(allHeight);

		$('.main').height(allHeight);
		$('.setting').height(allHeight);;
		$('.query').height(allHeight);
	});
	</script>
	<script src="Public/js/underscore-min-old.js"></script>
	<script src="Public/js/backbone-min.js"></script>
	<script src="Js/models/main.js"></script>
	<script src="Js/models/setting.js"></script>
	<script src="Js/models/query.js"></script>
</html>