*{
	margin:0;
	padding: 0;
}
body{
	overflow: hidden;
}
.main{
	width:100%;
	height: 100%;
}
.main_title{
	background-color:rgb(0, 200, 180);
	width: 100%;
	height: 60px;
	font-weight: bold;
	font-size:25px;
	color:#FFFFFF;
	text-align: center;
	line-height: 60px;
}
.main hr{
	background-color:#FFFFFF;
	background-color:rgb(188, 188, 188);
	height: 10px;
	display: none;
}
.main .ops_one,.set_one{
	width: 100%;
	height: 50px;
	font-weight:bold;
	font-size:20px;
	color:#FFFFFF;
	text-align:center;
	line-height:50px
}
.main .window_ops .ops_gold{
	background-color:#EAF786;
}
.main .window_ops .ops_equipment{
	background-color: #FFB5A1;
}
.main .ops_setting{
	background-color: #B8F4FF;
	background-image:url(setting.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:30px 30px;
	font-size: 25px;
}
.main .ops_setting:active{
	background-color: rgb(0, 0, 255);
}
.setting{
	background-color:#FFFFFF;
	width: 100%;
	position:relative;
}
.setting hr{
	background-color:rgb(188, 188, 188);
	height: 10px;
	border:none;	
}
.setting .set_select{
	background-color: #7EE67E;
	height: 40px;
	line-height: 40px;
}
.setting .heroes{
	overflow-y:scroll;
	height: auto;
}
.setting .heroes li{
	width: 16%;
	padding:2%;
	list-style: none;
	float: left;
}
.setting .heroes img{
	display: block;
}
.setting .set_upto{
	background-color: rgb(255, 147, 147);
	background-image:url(cancel.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:30px 30px;
	color:black;
	position: absolute;
	bottom: 0;
}
.setting .set_upto:active{
	background-color: rgb(255, 0, 0);
}
