*{
	margin:0;
	padding: 0;
}
body{
	overflow: hidden;
}
._title{
	width: 100%;
	height: 60px;
	font-weight: bold;
	font-size:25px;
	color:#FFFFFF;
	text-align: center;
	line-height: 60px;

}
.main{
	width:100%;
	height: 100%;
	position: relative;
	
}
.main_title{
	background-color:#78A2E1;
}
.main hr{
	background-color:#FFFFFF;
	background-color:rgb(188, 188, 188);
	height: 10px;
	display: none;
}
.main .ops_one,.set_one,.query_one{
	width: 100%;
	height: 50px;
	font-weight:bold;
	font-size:20px;
	color:#FFFFFF;
	text-align:center;
	line-height:50px;
	
	cursor: default;
}
.main .window_ops .ops_gold{
	background-color:#EAF786;
}
.main .window_ops .ops_equipment{
	background-color: #FFB5A1;
}
.main .window_ops .ops_equipment:active{
	background-color: rgb(215, 85, 50);
}
.main .window_ops .ops_test{
	background-color: #D598CE;
}
.main .window_ops .ops_test:active{
	background-color: #E0BEDC;
}
.main .ops_setting{
	background-color: #B8F4FF;
	background-image:url(../image/setting.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:30px 30px;
	font-size: 25px;
	position: absolute;
	bottom: 0;
}
.main .ops_setting:active{
	background-color: rgb(0, 0, 255);
}
/*----------------------------------*/
.setting{
	background-color:#FFFFFF;
	width: 100%;
	position:relative;
}
.setting_title{
	background-color:rgb(0, 200, 180);
}
.setting hr{
	background-color:rgb(188, 188, 188);
	height: 10px;
	border:none;	
}
.setting .set_select{
	background-color: #7EE67E;
	height: 40px;
	line-height: 40px;
}
.setting .heroes{
	overflow-y:scroll;
	height: auto;
}
.setting .heroes li{
	width: 16%;
	padding:2%;
	list-style: none;
	float: left;
}
.setting .heroes img{
	display: block;
}
.setting .set_upto{
	background-color: #FF9393;
	background-image:url(../image/cancel.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:30px 30px;
	position: absolute;
	bottom: 0;
}
.setting .set_upto:active{
	background-color: #FF0000;
}
/*----------------------------------*/
.hero_query{
	background-color:#FFFFFF;
	position: relative;
	left: 100%;
	top:-200%;
}
.hero_query .grade{
	background-color: #EAABDA;
}
.hero_query .leftto{
	background-color: #FF9393;
	background-image:url(../image/cancel.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:30px 30px;
	position: absolute;
	bottom: 0;
}
.hero_query .leftto:active{
	background-color: #FF0000;
}