*{
	margin:0;
	padding: 0;
}
.vir_body{
	overflow:hidden;
}
._title{
	width: 100%;
	height: 60px;
	font-weight: bold;
	font-size:25px;
	color:#FFFFFF;
	text-align: center;
	line-height: 60px;
}
.main{
	width:100%;
	height: 550px;
	position: relative;
}
.main_title{
	background-color:#78A2E1;
}
.main hr{
	background-color:#FFFFFF;
	background-color:rgb(188, 188, 188);
	height: 10px;
	display: none;
}
.main .ops_one,.set_one,.query_one{
	width: 100%;
	height: 50px;
	font-weight:bold;
	font-size:20px;
	color:#FFFFFF;
	text-align:center;
	line-height:50px;
	
	cursor: default;
}
.main .window_ops .ops_gold{
	background-color:#F0E383;
}
.main .window_ops .ops_gold:active{
	background-color:#F2DA2D;
}
.main .window_ops .ops_equipment{
	background-color: #FFB5A1;
}
.main .window_ops .ops_equipment:active{
	background-color: rgb(215, 85, 50);
}
.main .window_ops .ops_test{
	background-color: #D598CE;
}
.main .window_ops .ops_test:active{
	background-color: #E0BEDC;
}
.main .ops_setting{
	background-color: #B8F4FF;
	background-image:url(../image/setting.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:30px 30px;
	font-size: 25px;
	position: absolute;
	bottom: 0;
}
.main .ops_setting:active{
	background-color: rgb(0, 0, 255);
}