.query{
	background-color:#FFFFFF;
	position: relative;
	left: 100%;
	top:-200%;
}
.query .query_title{
	background-color: #EAABDA;
}
.query .query_window{
	width:100%;
	float: left;
	
	overflow-y: scroll;
}
/* >>>---------hero------------*/
.query .query_window .hero_one{
	width:100%;
	float: left;
}
.query .query_window .hero_one h4{
	margin-left:2%;
	width:98%;
	float: left;
}
.query .query_window .hero_avatar{
	margin-left:2%;
	width:20%;
	float: left;
}
.query .query_window .hero_avatar img{
	border-radius: 2px;
}
.query .query_window .hero_name{
	/*background-color:#FF9393;*/
	margin-left:2.5%;
	font-size:20px;
	float: left;
}
.query .query_window .upgrade_levels{
	margin-top:2%;
	width:100%;
	float: left;
}
.query .query_window .heroes_list{
	margin-bottom: 2%;
	width:100%;
	float: left;
}
.query .query_window .upgrade_level_one{
	width:100%;
	float: left;
}
.query .query_window .upgrade_level_one li{
	margin:0 1% 1% 1%;
	width:14.6%;
	height:45px;	
	list-style:none;	
	float: left;
}
.query .query_window .upgrade_level_one li img{
	border-radius: 2px;
}
.query .query_window .upgrade_levels li{
	background-color:#FFFFFF;
	margin:0 1% 2% 1%;
	width: 23%;
	border:1px solid #C4C7EC;
	box-sizing:border-box;
	list-style:none;
	text-align:center;
	float: left;
	
	cursor: default;
}
.query .query_window .upgrade_levels li:hover{
	background-color: #78A2E1;
}
.query .query_window .upgrade_levels li.selected{
	background-color: #78A2E1;
}
.query .query_window .upgrade_levels .heroes_loading{
	background-image:url(../image/loading.GIF);
	background-size:20% 100%;
	background-position:50%;
	background-repeat: no-repeat;
	margin-top:25%;
	width:100%;
	padding-top: 20%;
	float: left;
}
/* >>>>>>>---------gold-------------  */
.query .query_window h3{
	margin: 5px;
	font-weight: bold;
	position: relative;
}
.query .query_window .gold_ops{
	background-color:#999;
	margin:5px 0;
	width: 100%;
}
.query .query_window .gold_ops span,.btn{
	box-sizing:border-box;
	background-color:#EDEDED;
	margin-right: 1%;
	width:24.25%;
	height:45px;
	color:#686868;
	text-align:center;
	font-weight:bold;
	font-size: 24px;
	line-height:45px;
	list-style: none;
	float: left;
}
.query .query_window .gold_ops .ab_reduce{
	background-image: url(../image/reduce.png);
	background-size: 70% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.query .query_window .gold_ops .ab_add{
	background-image: url(../image/plus.png);
	background-size: 70% 70%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-right: 0;
}
.query .query_window .gold_request{
	margin:10px 0;
	width: 100%;
	text-align: center;
	float: left;
}
.query .query_window .gold_request .gold_request_nums{
	color:#FF0000;
}
.query_window .ability_one{
	box-sizing: border-box;
	margin-bottom: 5px;
	padding: 0 5px;
	width: 100%;
	height: 40px;
	float:left;
	position: relative;
}
.query_window .ability_one .ability_one_reduce{
	background-image: url(../image/reduce.png);
	background-size: 70% 100%;
	background-position: 50% 50%;
	background-color:#71A5E9;
	background-repeat: no-repeat;
	width: 10%;
	height: 100%;
	float: left;
}
.query_window .ability_one .ability_one_plus{
	background-image: url(../image/plus.png);
	background-size: 70% 70%;
	background-position: 50% 50%;
	background-color:#7BDB6C;
	background-repeat: no-repeat;
	width: 10%;
	height: 100%;
	float: left;
}
.query_window .ability_one .ability_one_bar{
	background-color: #fff;
	width: 80%;	
	height: 100%;
	font-size: 10px;
	line-height: 4em;
	float: left;
}
.query_window .ability_one .ability_one_bar .hr{
	height: 5px;
	background-color: #FCE700;
	width: 100%;
	display: inline-block;
}
.query_window .ability_one .ability_one_bar_button{
	background-color:#9695B7;
	width:15%;
	height: 100%;
	text-align:center;
	font-weight:bold;
	font-size:15px;
	line-height:2.6em;
	color:#FFFFFF;
	display: block;
	
	position: relative;
	top:-100%;
	
	cursor: default;
}

.query .leftto{
	background-color: #FF9393;
	background-image:url(../image/left.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:30px 30px;
	position: absolute;
	bottom: 0;
}
.query .leftto:active{
	background-color: #FF0000;
}